
/* general */
$error_color: #BC3545;
$primary_button_color: #69BEA9;
$danger_button_color: #bc3546;

/* component specific */
$ports_selected: #F1AD43;
$ports_connected: #000;
$ports_default: #9B9A9B;

$header_info_text: #fff;
$header_background: #072758;
$header_menu_icon: #fff;

$header_dropdown_background-color: #fff;
$header_dropdown_border-color: #466178;
$header_dropdown_item-color-active: #34495e;

$login_heading_background-color: #69BEA9;
$login_button_background-color: #466178;
$login_button_icon-color: #fff;
$login_box_border-color: #979797;
$login_label_color: #9b9b9b;
$login_form-control_color: #242B35;
$login_form-control-icon_color: #466178;

$forms_validation_color: #bc3546;

$loggedin-user_background: #072758;
$controls-container_background: #34495e;
$controls-container_arrow-color: #f9f9f9;

$footer_background: #f2f2f2;
$footer_border-color: #d1cfcf;

$submenu_border-color: #d1cfcf;

