/* variables vendor specific */

$font-icon: 'fontello';

$icons: (
  icon-right-big: '\e800',
  icon-lock: '\e801',
  icon-cog: '\e802',
  icon-user: '\e803',
  icon-users: '\e804',
  icon-bin-empty: '\e805',
  icon-exclamation: '\e806',
  icon-arrows-cw: '\e808',
  icon-info-circled: '\e809',
  icon-down-dir: '\e80a',
  icon-up-dir: '\e80b',
  icon-left-dir: '\e80c',
  icon-right-dir: '\e80d',
  icon-resize-full-1: '\e80e',
  icon-resize-small-1: '\e80f',
  icon-spin3: '\e832',
  icon-spin5: '\e838',
  icon-user-plus: '\f234',
  icon-user-times: '\f235',
  icon-user-circle-o: '\f2be'
)