/**
Product info sass styling
 */

.header {
  &__detail {
    width: 320px;
    float: right;
    font-size: 12px;
    color: $header_info_text;
    //font-family: verdana, helvetica, ariel;
    text-align: right;
    margin: 22px 14px 14px 14px;
    border-right: 1px solid #979797;
    padding-right: 10px;

  }

  @media (max-width: 630px) {
    &__detail {
      display: none;
    }
  }

  & .detail {
    &__name, &__product-code {
      font-weight: bold;
      margin-right: 5px;
    }
  }
}