
.admin {
  &__heading {
    padding: 10px 0;
    border-bottom: 1px solid #979797;

    &__icon-password {
      //font-size: em(19); // em equivalent to 48px
      @include icon(before, icon-user) {
        font-size: em(19);
        color: #34495e;
      };
    }
  }
}

.boundary {
  border-radius: 6px;
  border: 1px solid #979797;
  padding: 20px 30px;
  overflow: hidden;
  width: 580px;
}

.styled-list {
  li {
    list-style-type: disc;
  }
}

.admin {

  & .icon-bin {
    //font-size: em(19); // em equivalent to 48px
    @include icon(before, icon-bin-empty) {
      font-size: em(18);
      color: #bc3546;
    };
  }
  .icon-bin:hover {
    cursor: pointer;
  }

  & .basic-table {
    &__header {
      background-color: #f7f7f7;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
  }

  .info-list {
    &__items {
      width: 100%;
      overflow: hidden;
    }
    &__item {
      width: 100%;
      float: left;
      margin-bottom: 20px;
    }
    &__item:last-child {
      float: right;
      margin-bottom: 40px;
    }
    &__heading {
      width: 50%;
      float: left;
    }
    &__detail {
      width: 50%;
      float: right;
    }
  }
  .time-list {
    margin-bottom: 25px;
    &__item {
      margin-left: 50px;
    }
  }
  &__validation-message {
    color: #bc3546;
    font-size: em(16);
  }

  // boostrap overrides
  & .form-group {
    margin-left: 0;
    margin-right: 0;

    & .control-label {
      font-weight: normal;
      color: #242b36;
      margin-bottom: 0;
      padding-top: 7px;
    }
    & .form-control {
      float: right;
      width: 250px;
    }
  }
}